# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/
*.swp

# Docker
*.log
*.pid
*.seed
*.bak
*.tmp
*.lock
.dockerignore

# Database files
*.db
*.sqlite
*.sqlite3
*.sql

# Jupyter
.ipynb_checkpoints/

# OS generated
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Locust reports
reports/
*.csv
*.html

# Secrets
*.key
*.pem
*.crt
